{{- if .Values.jaeger.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: jaeger-config
  namespace: {{ .Values.global.namespace }}
data:
  jaeger.yaml: |
    # Jaeger配置
    collector:
      zipkin:
        http-port: 9411
    query:
      base-path: /
    storage:
      type: {{ .Values.jaeger.storage.type }}
      {{- if eq .Values.jaeger.storage.type "elasticsearch" }}
      elasticsearch:
        server-urls: {{ .Values.jaeger.storage.elasticsearch.serverUrls }}
      {{- else if eq .Values.jaeger.storage.type "cassandra" }}
      cassandra:
        servers: {{ .Values.jaeger.storage.cassandra.servers }}
      {{- end }}
{{- end }}

